.admin-upload-input {
  width: 100%;
}

.admin-header {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

.admin-form-action-button {
  color: white;
  margin-top: 12px;
}

.admin-form-action-button-upload {
  color: white;
}

.admin-form-action-button-delete {
  color: white;
}

.admin-form-action-button-cancel {
  color: white;
}

.mat-raised-button.admin-form-action-button-cancel {
  color: white;
}

.admin-media-upload-form-container {
  border: 0.01em solid grey;
  padding: 2em;
  margin: 1em;
}

.optional-field {
  font-style: italic;
}
