.admin-upload-input {
  width: 100%;
}

.admin-header {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 1em;
}

.admin-form-action-button {
  width: 100%;
  color: white;
  margin-top: 12px;
}

.admin-form-action-button-upload {
  background-color: #1b5e20;
}

.admin-form-action-button-delete {
  background-color: #b71c1c;
}

.admin-form-action-button-cancel {
  background-color: #f57f17;
}
