#calendar-print-view {
  background-color: white;
  width: 10in;
  left: -9999px;
  position: absolute;
}

.calendar-printer-container {
  overflow: hidden;
}

.print-action-button {
  margin: 0 6px;
}
