@import "src/app/components/chat/chat.component.scss";
@import "src/app/components/expressions/expressions.component.scss";

.chat-view-message-container {
  margin-left: 6px;
}

.chat-message-body {
  white-space: pre-line;
}

.massage-attachment-image {
  width: 80%;
  margin-left: 0px;
}

.view-attachment-button {
  background: #81C784;
  color: white;
}

.chat-view-message-deleted-container {
  margin-left: 10px;
}

.chat-card-content-container {
  margin-bottom: 0;
}

