<div
  class="row message-card-content-container"
  [ngStyle]="{ 'margin-left.px': message.replyLevel * 25 }"
>
  <div class="col-3 col-sm-2 col-lg-1 message-tools-container">
    <div
      class="mb-3 message-button"
      [ngStyle]="{ color: highlights.reply === true ? '#FF9800' : '#F44336' }"
    >
      <div
        class="d-flex flex-row justify-content-center"
        (mouseover)="highlightElement('reply', true)"
        (mouseleave)="highlightElement('reply', false)"
        (click)="replyMessage()"
      >
        <mat-icon>reply_all</mat-icon>
      </div>
      <span class="message-button-label d-flex justify-content-center"
        >Comment</span
      >
    </div>
    <div
      class="message-button"
      *ngIf="
        message.authorId === user.id || (user && user.roles && user.roles.admin)
      "
      [ngStyle]="{ color: highlights.edit === true ? '#FF9800' : '#F44336' }"
    >
      <div
        class="d-flex flex-row justify-content-center"
        (mouseover)="highlightElement('edit', true)"
        (mouseleave)="highlightElement('edit', false)"
        (click)="editMessage()"
      >
        <mat-icon>edit</mat-icon>
      </div>
      <span class="message-button-label d-flex justify-content-center"
        >Edit</span
      >
    </div>
  </div>
  <mat-divider
    class="message-controls-divider-vertical"
    [vertical]="true"
  ></mat-divider>
  <div class="message-view-container col-7 col-sm-8 col-lg-10">
    <mat-card-content
      class="message-view-deleted-container col-9"
      *ngIf="message.isDeleted"
    >
      <mat-card-title>
        <mat-card-subtitle class="chat-message-author-name">
          <i>This message was deleted.</i>
        </mat-card-subtitle>
      </mat-card-title>
    </mat-card-content>
    <mat-card-content *ngIf="!message.isDeleted">
      <mat-card-title
        class="expression-title"
        *ngIf="!message.isReply"
      >
        "{{ message.title }}"
      </mat-card-title>
      <mat-card-subtitle class="expression-attribution">
        - {{ message.attribution }}
      </mat-card-subtitle>
      <div
        class="expression-body"
        [innerHTML]="message.body"
      ></div>
      <mat-card-subtitle class="expression-attribution expression-author">
        - {{ message.authorName }}, {{ message.yearWritten }}
      </mat-card-subtitle>
      <br />
      <img
        mat-card-image
        src="{{ message.attachmentUrl }}"
        class="massage-attachment-image"
        *ngIf="getAttachmentType(message) === 'photo'"
      />
      <a
        mat-button
        [href]="message.attachmentUrl"
        class="message-view-attachment-button"
        target="_blank"
        *ngIf="getAttachmentType(message) === 'document'"
      >
        View Attachment
      </a>
      <a
        mae-button
        [href]="message.attachmentUrl"
        class="message-view-attachment-button"
        download
        *ngIf="getAttachmentType(message) === 'other'"
      >
        Download Attachment
      </a>
    </mat-card-content>
  </div>
</div>
<mat-card-content *ngFor="let reply of message.replies">
  <app-chat-view
    *ngIf="!reply.isEditable"
    [message]="reply"
    [parent]="message"
    (updateParentEvent)="updateParent()"
  >
  </app-chat-view>
  <app-chat-edit
    *ngIf="reply.isEditable"
    [message]="reply"
    [parent]="message"
    (updateParentEvent)="updateParent()"
  >
  </app-chat-edit>
</mat-card-content>
