<form class="example-form">
    <mat-form-field class="w-100">
        <mat-label>Expression</mat-label>
        <input matInput [(ngModel)]="expression.title">
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Analysis</mat-label>
        <textarea matInput
            value="... has remained a true classic of an expression. The phrase originates from the French word for ring ('bague' may be the French spelling) and the custom of Roman Catholics to kiss the ring of a high ranking prelate of the Church. The expression has provoked more than a little amusement when deftly employed by some of the LeCoursville citizenry."></textarea>
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Written By</mat-label>
        <input matInput value="Richard LeCours">
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Written In</mat-label>
        <input matInput value="1984">
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Attributed To</mat-label>
        <input matInput value="Annette Miller">
    </mat-form-field>

    <section>
        <div class="">Save</div>
    </section>
</form>
