<mat-toolbar class="d-flex justify-content-around flex-row">

  <mat-form-field class="search-field col-xs-4">
    <input matInput type="text" (keyup)="filterContacts($event)" placeholder="Search">
  </mat-form-field>

  <div class="d-flex justify-content-center col-xs-4">
    <button mat-button class="" [matMenuTriggerFor]="byFamilyMenu">
      By Family <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <mat-menu #byFamilyMenu="matMenu" class="col-xs-6">
    <button mat-menu-item *ngFor="let family of families" (click)="switchFamily(family)">
      {{ family }}
    </button>
  </mat-menu>

  <div class="d-flex justify-content-center col-xs-2">
    <button mat-button (click)="printPdf()">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-button (click)="downloadPdf()">
      <mat-icon>get_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-toolbar class="d-flex justify-content-around flex-row" *ngIf="user && user.roles && user.roles.admin">
  <button mat-button (click)="newContact()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>


<div class="contact-card-container d-flex justify-content-center row">
  <mat-card class="contact-card col-lg-5" *ngFor="let contact of filteredContacts">
    <!-- VIEW CONTACT -->
    <div *ngIf="!contact.editable">
      <mat-card-title>
        {{ contact.name }}
        <br />
        <mat-card-subtitle>
          <i>{{ contact.info }}</i>
        </mat-card-subtitle>

      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngIf="contact.street && contact.city && contact.state && contact.zip">
            <mat-icon mat-list-icon>home</mat-icon>
            <h4 mat-line>{{ contact.street }}</h4>
            <p mat-line>{{ contact.city }}, {{ contact.state }} {{ contact.zip }}</p>
          </mat-list-item>
          <mat-list-item class="contact-phone-container" *ngIf="contact.phones && contact.phones.length">
            <mat-icon mat-list-icon>phone</mat-icon>
            <div class="d-inline-flex">
              <mat-list-item class="contact-phone col-xs-5" *ngFor="let phone of contact.phones">
                <h4 mat-line *ngIf="phone.type !== ''">
                  {{ phone.type | titlecase}}
                </h4>
                <p mat-line>{{ phone.number }}</p>
              </mat-list-item>
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="contact.email && contact.email !== ''">
            <mat-icon mat-list-icon>email</mat-icon>
            <h4 mat-line>{{ contact.email }}</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-footer *ngIf="user.roles.admin" class="contact-controls-container d-flex justify-content-end">
        <button mat-button (click)="contact.editable = true">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-footer>
    </div>

    <!-- EDIT CONTACT -->
    <div *ngIf="contact.editable">

      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="contact.name" placeholder="Name">
      </div>

      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="contact.street" placeholder="Street">
      </div>

      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="contact.state" placeholder="State">
        <input type="text" class="form-control" [(ngModel)]="contact.zip" placeholder="Zip">          <div class="input-group-append">
            <button mat-button class="input-group-text">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="input-group" *ngFor="let phone of contact.phones">
            <input type="text" class="form-control" [(ngModel)]="phone.info" placeholder="Info">
            <input type="text" class="form-control" [(ngModel)]="contact.number" placeholder="Number">          <div class="input-group-append">
                <button mat-button class="input-group-text">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
        
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <button mat-button class="input-group-text">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>




      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="contact.name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>


      <mat-card-title>
        <div class="input-group mb-3">
        </div>
      </mat-card-title>
      <mat-card-content>

        <mat-list>
          <mat-list-item>
            <h4 mat-line>
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="contact.street">
              </div>
            </h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="contact.city">
              </div>
            </h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="contact.state">
                <input type="text" class="form-control" [(ngModel)]="contact.zip">
                <input type="text" class="form-control" [(ngModel)]="contact.info">
              </div>
            </h4>
          </mat-list-item>

          <mat-list-item *ngFor="let phone of contact.phones">
            <h4 mat-line>
              <div class="input-group mb-3">
                <input type="text" class="form-control" style="width:10%" [(ngModel)]="phone.type">
                <input type="text" class="form-control" [(ngModel)]="phone.number">
              </div>
            </h4>
          </mat-list-item>

          <mat-list-item class="contact-phone-container">
            <mat-icon mat-list-icon>phone</mat-icon>
            <div class="d-inline-flex">
              <mat-list-item class="contact-phone col-xs-5">
                <h4 mat-line>
                  <input size="4" [(ngModel)]="contact.phones[0].type">
                </h4>
                <p mat-line>
                  <input size="10" [(ngModel)]="contact.phones[0].number">
                </p>
              </mat-list-item>
              <mat-list-item class="contact-phone col-xs-5">
                <h4 mat-line>
                  <input size="4" [(ngModel)]="contact.phones[1].type">
                </h4>
                <p mat-line>
                  <input size="10" [(ngModel)]="contact.phones[1].number">
                </p>
              </mat-list-item>
            </div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <h4 mat-line>
              <div *ngFor="let email of contact.emails">
                <input size="3" [(ngModel)]="email.info">
                <input size="19" [(ngModel)]="email.address">
              </div>
            </h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>info</mat-icon>
            <h4 mat-line>
              <input size="25" [(ngModel)]="contact.info">
            </h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>group</mat-icon>
            <h4 mat-line>
              <div class="d-flex justify-content-center col-xs-4">
                <button mat-button class="" [matMenuTriggerFor]="byFamilyMenu">
                  Family <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>

              <mat-menu #chooseFamilyMenu="matMenu" class="col-xs-6">
                <button mat-menu-item *ngFor="let family of families" (click)="contact.family = family">
                  {{ family }}
                </button>
              </mat-menu>
            </h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-footer *ngIf="user.roles.admin" class="contact-controls-container d-flex justify-content-end">
        <button mat-button (click)="contact.editable = false;updateContact(contact)">
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-footer>
    </div>
  </mat-card>
</div>