.spacer {
  flex: 1 1 auto;
}

.search-field {
  height: 100%;
  width: 25%;
}

.mat-mdc-button {
  min-width: 55px;
}

.contact-card-container {
  margin: 0;
}

.filter-family-expand-button {
  height: 40px;
}

.contact-add-button-container {
  margin-right: 7%;
}
