<mat-toolbar class="row">
    <mat-form-field class="col-xs-5" style="height: 100%; width: 25%">
      <input matInput placeholder="Search">
    </mat-form-field>
      <button mat-button class="col-xs-5">
        By Family <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <div class="spacer"></div>
  <div class="col-xs-2">
    <button  mat-button>
      <mat-icon>print</mat-icon>
    </button>
    <button  mat-button>
      <mat-icon>get_app</mat-icon>
    </button>

  </div>
</mat-toolbar>

<div class="row d-flex justify-content-center" style="margin:0">
  <mat-card class="contact-card col-lg-5" *ngFor="let contact of contacts">
    <mat-card-title>
      {{ contact.name }}
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 mat-line>{{ contact.street }}</h4>
          <p mat-line>{{ contact.city }}, {{ contact.state }}, {{ contact.zip }}</p>
        </mat-list-item>


        <mat-list-item *ngIf="contact.phones.length" style="margin: 16px 0">
          <mat-icon mat-list-icon>phone</mat-icon>
          <div class="row d-flex">
            <mat-list-item *ngFor="let phone of contact.phones" class="col-xs-6">
              <h4 mat-line *ngIf="phone.type !== ''">{{ phone.type | titlecase}}</h4>
              <p mat-line>{{ phone.number }}</p>
            </mat-list-item>
          </div>


          <!-- <h4 mat-line *ngIf="contact.phone.cell">Cell{{ contact.phone.cell }}</h4>
          <h4 mat-line *ngIf="contact.phone.work">Work{{ contact.phone.work }}</h4> -->
        </mat-list-item>
        <mat-list-item *ngIf="contact.email && contact.email !== ''">
          <mat-icon mat-list-icon>email</mat-icon>
          <h4 mat-line>{{ contact.email }}</h4>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>
</div>