<div class="photos-component-container">
  <div class="photos-container">
    <app-page-toolbar>
      <div class="photos-toolbar">
        <div class="photos-toolbar-row">
          <div class="photos-toolbar-filters">
            <mat-form-field class="photos-filter-field">
              <mat-label>Filter</mat-label>
              <input
                matInput
                [(ngModel)]="searchTerm"
                name="searchTerm"
                (ngModelChange)="onSearchTermChange($event)"
                />
              @if (searchTerm !== '') {
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSearchTerm()"
                  >
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>
          </div>

          <div class="d-md-none">
            <button
              mat-stroked-button
              [matMenuTriggerFor]="menu"
              >
              Sort
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="sortPhotosBy(sortRandomly, 'random')">Random</button>
              <button mat-menu-item (click)="sortPhotosBy(sortByYearTaken, 'taken')">Date Taken</button>
              <button mat-menu-item (click)="sortPhotosBy(sortByDateAdded, 'added')">Recently Added</button>
            </mat-menu>
          </div>

          <div class="photos-sort-controls d-none d-md-block">
            <button
              class="photos-sort-btn"
              [class.active]="sortType === 'random'"
              (click)="sortPhotosBy(sortRandomly, 'random')"
            >Random</button>
            <button
              class="photos-sort-btn"
              [class.active]="sortType === 'taken'"
              (click)="sortPhotosBy(sortByYearTaken, 'taken')"
            >Year Taken</button>
            <button
              class="photos-sort-btn"
              [class.active]="sortType === 'added'"
              (click)="sortPhotosBy(sortByDateAdded, 'added')"
            >Recently Added</button>
          </div>

          @if (user && user.roles && user.roles.admin) {
            <button mat-stroked-button class="photos-upload-button">
              <label class="photos-add-button-label">
                <mat-icon>add_photo_alternate</mat-icon> Add Photos
                <input type="file" accept="image/*" multiple hidden
                  (change)="uploadPhotos($event.target.files)" />
              </label>
            </button>
          }
        </div>
      </div>
    </app-page-toolbar>

    <div class="d-flex flex-column">
      @for (upload of photoUploads; track upload) {
        <app-photo-upload-progress
          [upload]="upload"
          (completeUploadEvent)="completePhotoUpload(upload)"
        ></app-photo-upload-progress>
      }
    </div>

    @if (showSpinner) {
      <div
        class="photos-skeleton-grid"
        >
        @for (i of skeletonIterations; track i) {
          <div
            class="photos-skeleton-card"
            >
            <div class="skeleton-image"></div>
            <div class="skeleton-photo-info">
              <div class="skeleton-photo-line short"></div>
              <div class="skeleton-photo-line xs"></div>
              <div class="skeleton-photo-line medium"></div>
              <div class="skeleton-photo-line"></div>
            </div>
          </div>
        }
      </div>
    }
  </div>

  <div [hidden]="showSpinner">
    @for (photo of loadedPhotos; track photo) {
      <mat-card
        class="photo-card mat-elevation-z6 col-xs-10 col-sm-8 col-md-6 mt-3 mb-3"
        >
        <img
          class="photo-image"
          mat-card-image
          src="{{ photo.url }}"
          alt="{{ photo.info }}"
          />
        @if (!photo.isEditable) {
          <mat-card-content>
            <div class="photo-by">
              @if (photo.takenBy) {
                <span>{{ photo.takenBy }}<br /></span>
              }
            </div>
            <div class="mt-1">
              @if (photo.info) {
                <span>{{ photo.info }}<br /></span>
              }
              @if (photo.location) {
                <span>{{ photo.location }}<br /></span>
              }
              @if (photo.year) {
                <span
                  ><i
                  >@if (photo.isYearCirca) {
                  <span>c. </span>
                  }{{ photo.year
                  }}<br /></i
                ></span>
              }
            </div>
          </mat-card-content>
        }
        <mat-card-footer
          class="photos-controls-container d-flex justify-content-end mb-1"
          >
          @if (!photo.isEditable) {
            <button
              mat-icon-button
              (click)="downloadPhoto(photo)"
              matTooltip="Download"
              >
              <mat-icon>cloud_download</mat-icon>
            </button>
          }
          @if (user.roles && user.roles.admin && !photo.isEditable) {
            <button
              mat-icon-button
              (click)="photo.isEditable = true"
              matTooltip="Edit"
              >
              <mat-icon>edit</mat-icon>
            </button>
          }
        </mat-card-footer>
        @if (user.roles && user.roles.admin && photo.isEditable) {
          <mat-card-footer
            class="photo-edit-footer"
            >
            <div class="photo-edit-form">
              <mat-form-field class="photo-edit-field">
                <mat-label>Info</mat-label>
                <input
                  matInput
                  name="photoInfo"
                  [(ngModel)]="photo.info"
                  />
              </mat-form-field>
              <mat-form-field class="photo-edit-field photo-edit-field--full">
                <mat-label>Location</mat-label>
                <input
                  matInput
                  name="photo-location"
                  [(ngModel)]="photo.location"
                  />
              </mat-form-field>
              <div class="photo-edit-row">
                <mat-form-field class="photo-edit-field year-field">
                  <mat-label>Year</mat-label>
                  <input
                    matInput
                    type="number"
                    name="photoYear"
                    [(ngModel)]="photo.year"
                    />
                </mat-form-field>
                <mat-checkbox
                  name="photo-year-circa"
                  [(ngModel)]="photo.isYearCirca"
                  class="photo-edit-checkbox"
                  >
                  <span class="photo-edit-checkbox-label">circa</span>
                </mat-checkbox>
              </div>
              <mat-form-field class="photo-edit-field">
                <mat-label>Photo By</mat-label>
                <input
                  matInput
                  name="photo-by"
                  [(ngModel)]="photo.takenBy"
                  />
              </mat-form-field>
            </div>
            <div class="photo-edit-actions">
              <button
                mat-icon-button
                (click)="deletePhoto(photo)"
                matTooltip="Delete"
                >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="photo.isEditable = false"
                matTooltip="Cancel"
                >
                <mat-icon>cancel</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="updatePhoto(photo)"
                matTooltip="Save"
                >
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </mat-card-footer>
        }
      </mat-card>
    }

    @if (loadedPhotos.length === 0 && searchTerm && !showSpinner) {
      <app-no-results-message
        [searchTerm]="searchTerm"
      ></app-no-results-message>
    }

    @if (!(loadedPhotos.length === 0 && searchTerm && !showSpinner)) {
      <div class="d-flex justify-content-center m-5">
        <button
          mat-raised-button
          color="primary"
          (click)="loadMorePhotos(10)"
          >
          Load More
        </button>
      </div>
    }
  </div>
</div>

@if (selectedPersonId) {
  <app-person-detail-modal
    [personId]="selectedPersonId"
    (closeModal)="closeModal()"
    (openPerson)="openPersonDetail($event)"
  ></app-person-detail-modal>
}