<div class="admin-users-component-container">
  
  <app-admin-routing class="w-100"></app-admin-routing>

  <div class="statistics-container">
    <b>Total Users: </b>{{ allUsers ? allUsers.length : 0 }}
  </div>

  <div class="row justify-content-center admin-user-card-container" *ngIf="shouldDisplayUserCards()">
    <div class="m-2 col-md-5" *ngFor="let cardUser of allUsers">
      <app-user-edit [userOnCard]="cardUser" [isAdminMode]="true" (cancelEditClickedEvent)="updateUser(cardUser)">
      </app-user-edit>
    </div>
  </div>

</div>