.statistics-container {
  margin: 5px 2%;
}

.user-card {
  margin: 5px;
}

.user-view-name {
  margin-bottom: 0;
}

.user-card-controls-icon {
  margin-right: 16px;
  cursor: pointer;
}

.user-edit-form-field {
  width: 100%;
}

.user-card-footer {
  margin-top: 4px;
  margin-bottom: -15px;
}

.admin-user-card-container {
  margin: auto;
}
