<div class="mt-3 ml-3">
  <button mat-button (click)="addMessage()">
    <mat-icon>add</mat-icon>
    <span class="ml-2">New Message</span>
  </button>
</div>

<div class="d-flex flex-column justify-content-end align-items-center">
  <mat-card class="mt-3 mb-1 col-md-8" style="width: 97%;" *ngFor="let message of messages">
    <app-view-chat *ngIf="!message.isEditable" [message]=message [parent]="message" (updateParentEvent)="updateMessages($event)"
      (cancelEditEvent)="cancelEdit($event)"></app-view-chat>
    <app-edit-chat *ngIf="message.isEditable" [message]=message [parent]="message" (updateParentEvent)="updateMessages($event)"
      (cancelEditEvent)="cancelEdit($event)"></app-edit-chat>
  </mat-card>
</div>

<div *ngIf="isEditing" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="loadMore()"></div>