<mat-toolbar class="d-flex flex-row">
	<button mat-button (click)="addMessage()">
		<mat-icon>add</mat-icon>
	</button>
</mat-toolbar>

<mat-card *ngFor="let message of messages" style="margin: 10px auto">
	<app-chat-view *ngIf="!message.editable" [message]=message [parent]="message" (updateParentEvent)="updateMessages($event)"></app-chat-view>
	<app-chat-edit *ngIf="message.editable" [message]=message [parent]="message" (updateParentEvent)="updateMessages($event)"></app-chat-edit>
	<!-- <mat-card-footer class="d-flex justify-content-end">
		<button mat-button>
			<mat-icon>reply_all</mat-icon>
		</button>
	</mat-card-footer> -->
</mat-card>

<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="loadMore()"></div>