.calendar-cell-container {
  // margin-top: -12px;
  // margin-bottom: -8px;
  font-size: 1em;
}

.calendar-icon {
  font-size: 1.2em;
}

.birthday-color {
  color: #0d47a1;
}

.anniversary-color {
  color: #880e4f;
}

.day-cell-container {
  margin-top: 0.55em;
}

.years-since-span {
  margin-top: -2px;
}

.event-title-container {
  line-height: 1em;
  margin-right: 0.2em;
}

.event-not-living {
  opacity: 0.3;
  // color: #BDBDBD;
}

.event-living {
  opacity: 0.8;
  // color: #424242;
}
