.upload-calendar-container {
  margin-top: -5px;
}

.upload-calendar-year-select {
  width: 76px;
  margin-top: 7px;
}

.year-select-container {
  width: 100%;
}

#calendar-print-view {
  background-color: white;
  width: 10in;
  left: -9999px;
  position: absolute;
}
