.auth-component-container {
  width: 100%;
}

// .auth-image-container {
//   height: 20%;
// }

.auth-controls-container {
  margin: 20px;
}

.auth-image {
  position:fixed;
  bottom: 0px;
  opacity: 0.5;
}

.user-name-container {
  opacity: 0.5;
}
