<div class="row mb-4 chat-card-content-container" [ngStyle]="{ 'margin-left.px': message.replyLevel * 25 }">
  <div class="col-1 chat-tools-container">
    <div class="mb-2">
      <div class="d-flex justify-content-end mt-2">
        <span class="fa-stack" (click)="likeMessage()" (mouseover)="highlightElement('like', true)" (mouseleave)="highlightElement('like', false)">
          <span class="fa fa-heart-o fa-2x" [ngStyle]="{ color: highlights.like === true  ? '#ff80ab' : '#CFD8DC' }"></span>
          <mat-menu #menu="matMenu" [matMenuTriggerFor]="menu">
            <div *ngFor="let liker of likers">
              <button mat-menu-item disabled>
                <span>{{ liker }}</span>
              </button>
              <mat-divider *ngIf="likers.length !== 1"></mat-divider>
            </div>
          </mat-menu>
          <strong class="fa-stack-1x unselectable message-likes-container" *ngIf="getLikes() !== 0" [ngStyle]="{ color: highlights.like === true  ? '#ff80ab' : '#CFD8DC' }">
            {{ getLikes() }}
          </strong>
        </span>
      </div>
      <span class="d-flex justify-content-end" style="font-size: 0.8em;margin-right: 0.3em;margin-top: -4px;" [ngStyle]="{ color: highlights.like === true  ? '#ff80ab' : '#CFD8DC' }">Like</span>
    </div>
    <div class="mb-2">
      <div class="d-flex flex-row justify-content-end" (mouseover)="highlightElement('reply', true)" (mouseleave)="highlightElement('reply', false)"
        (click)="replyMessage()">
        <span class="fa fa-reply-all fa-2x" [ngStyle]="{ color: highlights.reply === true  ? '#00c853' : '#CFD8DC' }"></span>
      </div>
      <span class="d-flex justify-content-end" style="font-size: 0.8em;margin-top: -4px;" [ngStyle]="{ color: highlights.reply === true  ? '#00c853' : '#CFD8DC' }">Reply</span>
    </div>
    <div *ngIf="message.authorId === user.id || (user && user.roles && user.roles.admin)">
      <div class="d-flex flex-row justify-content-end" (mouseover)="highlightElement('edit', true)" (mouseleave)="highlightElement('edit', false)"
        (click)="editMessage()">
        <span class="fa fa-edit fa-2x" [ngStyle]="{ color: highlights.edit === true  ? '#2962ff' : '#CFD8DC' }"></span>
      </div>
      <span class="d-flex justify-content-end" style="font-size: 0.8em;margin-right: 0.5em;margin-top: -4px;" [ngStyle]="{ color: highlights.edit === true  ? '#2962ff' : '#CFD8DC' }">Edit</span>
    </div>
  </div>
  <mat-divider [vertical]="true" class="ml-2"></mat-divider>
  <mat-card-content class="col-9" *ngIf="message.isDeleted">
    <mat-card-title>
      <mat-card-subtitle class="chat-message-author-name">
        <i>This message was deleted.</i>
      </mat-card-subtitle>
    </mat-card-title>
  </mat-card-content>
  <mat-card-content class="col-9" *ngIf="!message.isDeleted">
    <mat-card-title>
      <div class="chat-message-title" *ngIf="!message.isReply">
        {{ message.title }}
      </div>
      <mat-card-subtitle class="chat-message-author-name">
        {{ message.authorName }}
      </mat-card-subtitle>
      <mat-card-subtitle class="chat-message-timestamp">
        {{ message.timestamp | date:'short' }}
      </mat-card-subtitle>
    </mat-card-title>
    {{ message.body }}
  </mat-card-content>
</div>
<mat-card-content *ngFor="let reply of message.replies">
  <app-view-chat *ngIf="!reply.isEditable" [message]="reply" [parent]="message" (updateParentEvent)="updateParent($event)"></app-view-chat>
  <app-edit-chat *ngIf="reply.isEditable" [message]="reply" [parent]="message" (updateParentEvent)="updateParent($event)"></app-edit-chat>
</mat-card-content>