.admin-upload-input {
    width: 100%;
}

.admin-media-form-action-button {
    width: 100%;
    color: white;
    margin-top: 12px;
}

.admin-media-form-action-button-upload {
    background-color: #1b5e20;
}

.admin-media-form-action-button-delete {
    background-color: #B71C1C;
}

.admin-media-form-action-button-cancel {
    background-color: #F57F17;
}

.admin-media-upload-audio-album-form-container {
    border: 0.01em solid grey;
    padding: 2em;
    margin: 1em;
}
