<div class="videos-container row">
    
    <div class="col col-lg-5">

        <div class="row">
            <form class="col">
                <mat-form-field class="example-full-width">
                    <mat-icon matPrefix class="search-icon">search &nbsp;</mat-icon>
                    <input #searchInput matInput type="search" placeholder="Search"
                        (keyup)="filterResults(searchInput.value)">
                </mat-form-field>
            </form>
            <div class="col admin-controls" *ngIf="user?.roles?.admin">
                <button mat-mini-fab color="primary" aria-label="Create Video" (click)="openCreateVideoDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <app-media-list [allMedia]="allVideos" (mediaClickEvent)="onVideoSelect($event)"></app-media-list>
    </div>
</div>