@import "src/app/components/chat/chat.component.scss";
@import "src/app/components/photos/photos.component.scss";

.title-input-container {
  line-height: 1;
}

.chat-edit-input-body {
  overflow: hidden;
  min-height: 9em;
}

.chat-edit-message-form-container {
  margin-left: 8px;
}

.photo-upload-cancel-icon {
  cursor: pointer;
}

.photo-upload-row-element {
  margin-left: 8px;
}
