.admin-component-container {
}

.mat-card-controls-icon {
  margin-right: 16px;
  cursor: pointer;
}

.user-card {
  margin: 5px;
  // width: 80%;
}

.user-edit-form {

}

.user-view-name {
  margin-bottom: 0;
}
