<div class="admin-component-container d-flex flex-column align-items-center">
    <div class="admin-header">Admin Utilities</div>
    <div class="admin-routing-buttons-container">
        <button mat-raised-button class="admin-routing-button" (click)="onClickUsersRoute()">
            Users
        </button>
        <button mat-raised-button class="admin-routing-button" (click)="onClickMediaRoute()">
            Media
        </button>
        <button mat-raised-button class="admin-routing-button" (click)="onClickCalendarRoute()">
            Calendar
        </button>
    </div>
</div>