.admin-routing-buttons-container {
    width: 75%;
}

.admin-routing-button {
    width: 100%;
    margin-top: 2em;
}

.admin-routing-header {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 1em;
}