<div class="doc-viewer-spinner-container d-flex justify-content-center align-items-center" *ngIf="isLoading">

    <mat-spinner></mat-spinner>

</div>

<ngx-extended-pdf-viewer [hidden]="isLoading" [src]="url" width="100%" useBrowserLocale="true" mobileFriendlyZoom="120%"
    filenameForDownload="document.pdf" [showPresentationModeButton]="true" [showSpreadButton]="false"
    [showScrollingButton]="true" [enableDragAndDrop]="false" [showHandToolButton]="false" [showBookmarkButton]="false"
    [showFindButton]="false" [showHandToolButton]="false" [showOpenFileButton]="false" [showPropertiesButton]="false"
    [enablePinchOnMobile]="true" (pdfLoaded)=onPdfLoaded()>
</ngx-extended-pdf-viewer>