<div class="admin-tool-header">
  <div class="tool-nav">
    <button mat-button (click)="onClickClansRoute()" [class.active-link]="isActive('/admin/families')">
      <mat-icon>groups</mat-icon>
      <span>Families</span>
    </button>
    <button mat-button (click)="onClickCalendarsRoute()" [class.active-link]="isActive('/admin/calendars')">
      <mat-icon>calendar_today</mat-icon>
      <span>Calendars</span>
    </button>
    <button mat-button (click)="onClickPeopleImportRoute()" [class.active-link]="isActive('/admin/people')">
      <mat-icon>person_add</mat-icon>
      <span>People</span>
    </button>
    <button mat-button (click)="onClickMediaRoute()" [class.active-link]="isActive('/admin/media')">
      <mat-icon>perm_media</mat-icon>
      <span>Media</span>
    </button>
    <button mat-button (click)="onClickFeaturesRoute()" [class.active-link]="isActive('/admin/features')">
      <mat-icon>toggle_on</mat-icon>
      <span>Features</span>
    </button>
  </div>
</div>