<div class="admin-routing-component-container">
  <mat-button-toggle-group class="admin-routing-toggle-group w-100 m-0 row">
    <mat-button-toggle
      class="admin-routing-button col"
      (click)="onClickUsersRoute()"
      >Users</mat-button-toggle
    >
    <mat-button-toggle
      class="admin-routing-button col"
      (click)="onClickCalendarRoute()"
      >Calendar</mat-button-toggle
    >
    <mat-button-toggle
      class="admin-routing-button col"
      (click)="onClickMediaRoute()"
      >Media</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
