.photo-upload-link {
  font-size: 0.75em;
}

.photo-upload-progress {
  width: 100%;
}

.upload-card-success {
  background: #E8F5E9;
}

.upload-success-container {
  text-align: center;
}

.upload-success-message {
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.9em;
}