.album-name-container {
  width: 100%;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  font-style: italic;
}

.artist-name-container {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  margin-top: -6px;
}

.audio-player-album-art {
  width: 100%;
  margin: auto;
}
