@use "src/app/components/message/message.component.scss" as *;

.message-view-container {
  margin-left: 6px;
}

.message-body {
  white-space: pre-line;
  color: var(--color-ink);
  line-height: 1.6;
}

.massage-attachment-image {
  width: 80%;
  margin-left: 0px;
  border-radius: 12px;
}

.message-view-attachment-button {
  background: var(--color-brand-primary);
  color: white;
}

.message-view-deleted-container {
  margin-left: 10px;
}
