@import 'src/app/styles/admin-forms';

.admin-media-upload-divider {
  margin-top: 22px;
}

.admin-media-upload-or-container {
  text-align: center;
  width: 100%;
}

.admin-media-upload-or-span {
  color: #bdbdbd;
  text-align: center;
  width: 100%;
}

.admin-media-list-container {
  width: 95%;
}

.optional-field {
  font-style: italic;
}