<div *ngIf="isVideo(selectedMedia)">
    <app-video-player [video]="selectedMedia" [events]="eventsSubject.asObservable()"></app-video-player>
</div>

<div *ngIf="isDocument(selectedMedia)">
    <app-doc-viewer [doc]="selectedMedia" [events]="eventsSubject.asObservable()"></app-doc-viewer>
</div>

<div *ngIf="isPhotoAlbum(selectedMedia)">
    <app-photo-album [album]="selectedMedia"></app-photo-album>
</div>

<div *ngIf="isAudioAlbum(selectedMedia)">
    <app-audio-player [album]="selectedMedia" [events]="eventsSubject.asObservable()"></app-audio-player>
</div>

<app-media-list (mediaClickEvent)="onMediaSelect($event)"></app-media-list>
