.media-explorer-component {
  padding: 0;
}

.media-component-container {
  padding: 0;
}

.media-explorer-actions-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.media-explorer-action-button-icon {
  margin-right: 0.5em;
}
