<div class="media-explorer-container row justify-content-center">

    <div *ngIf="isVideo(selectedMedia)" style="position: relative">
        <app-video-player-drive-iframe
            [video]="selectedMedia"
            [events]="eventsSubject.asObservable()">
        </app-video-player-drive-iframe>
    </div>

    <div *ngIf="isDocument(selectedMedia)" class="document-component-container" style="position: relative">
        <app-doc-viewer-drive-iframe
            [doc]="selectedMedia"
            [events]="eventsSubject.asObservable()">
        </app-doc-viewer-drive-iframe>
        <button mat-fab matTooltip="Copy Link" style="position: absolute; top: 4px; right: 16px;" color="secondary" class="mb-4" [cdkCopyToClipboard]="getLinkToShare()">
            <mat-icon>share</mat-icon>
        </button>
    </div>

    <div *ngIf="isPhotoAlbum(selectedMedia)" style="position: relative">
        <app-photo-album 
            [album]="selectedMedia">
        </app-photo-album>
        <button mat-fab matTooltip="Copy Link" style="position: absolute; top: 4px; right: 16px;" color="secondary" class="mb-4" [cdkCopyToClipboard]="getLinkToShare()">
            <mat-icon>share</mat-icon>
        </button>
    </div>

    <div *ngIf="isAudioAlbum(selectedMedia)" style="position: relative">
        <app-audio-player 
            [album]="selectedMedia"
            [events]="eventsSubject.asObservable()">
        </app-audio-player>
        <button mat-fab matTooltip="Copy Link" style="position: absolute; top: 4px; right: 16px;" color="secondary" class="mb-4" [cdkCopyToClipboard]="getLinkToShare()">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</div>


<div class="d-flex w-100 justify-content-center mt-2" *ngIf="selectedMedia?.id && !user?.id">
    <button mat-raised-button color="primary" class="mb-4" (click)="navigateToSignIn()">
        Sign In For More
    </button>    
</div>
    
<!-- <div class="d-flex w-100 justify-content-center mt-2"> -->
  
<!-- </div> -->

<app-media-list (mediaClickEvent)="onMediaSelect($event)" *ngIf="user?.id"></app-media-list>
