@if (!isMenuList) {
  <div
    id="lecoursville-navbar-links"
    class="toolbar-routes-buttons-inline"
    >
    @for (button of filteredButtons; track button) {
      <button
        mat-button
        [routerLink]="button.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: button.link === '/'}"
        >
        <mat-icon class="navbar-link-icon">{{ button.icon }}</mat-icon>
        <span><span class="first-char">{{ button.title.charAt(0) }}</span>{{ button.title.slice(1) }}</span>
      </button>
    }
  </div>
}

@if (isMenuList) {
  <div
    class="toolbar-routes-buttons-inline"
    >
    @for (button of filteredButtons; track button) {
      <button
        mat-menu-item
        [routerLink]="button.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: button.link === '/'}"
        >
        <mat-icon class="navbar-link-icon">{{ button.icon }}</mat-icon>
        <span><span class="first-char">{{ button.title.charAt(0) }}</span>{{ button.title.slice(1) }}</span>
      </button>
    }
  </div>
}