.navbar-link-icon {
  margin-right: 6px;
}

button span {
  font-weight: 400;
  letter-spacing: -0.02em;
}

button.active .first-char {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (max-width: 768px) {
  .toolbar-routes-buttons-inline {
    padding-left: 8px;
    padding-right: 8px;
  }

  .mat-menu-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}