<div class="expressions-component m-3">
  <div class="expressions-header-container">
    <div class="expressions-header">
      {{ headerQuoteText }}
    </div>
    <div class="expressions-attribution">{{ headerAttributionText }}</div>
  </div>

  <div class="expressions-controls">
    <mat-form-field class="search-field">
      <mat-label><mat-icon>search</mat-icon> Search</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="sortSettings.activeFilterQuery"
        (input)="onFilterQueryChange($event.target.value)"
      />
      <button
        *ngIf="sortSettings.activeFilterQuery"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onFilterQueryChange('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="sort-controls">
      <span class="sort-label">Sort:</span>
      <button
        class="sort-button"
        mat-button
        (click)="reverseSortDirection()"
      >
        {{ sortSettings.activeSortProperty?.title }}
        <mat-icon>{{ sortSettings.isSortDescending() ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      </button>
      <button
        class="sort-menu-trigger"
        mat-icon-button
        [matMenuTriggerFor]="sortMenu"
      >
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>

    <div
      class="create-expression"
      *ngIf="user && user.roles && user.roles.admin"
    >
      <button mat-button class="create-expression-button" (click)="onCreate()">
        <mat-icon>add</mat-icon>
        Create Expression
      </button>
    </div>

    <button
      class="show-all-button"
      *ngIf="shouldDisplayShowAllButton()"
      mat-button
      (click)="onShowAll()"
    >
      Show All
    </button>
  </div>

  <mat-menu #sortMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let sortProperty of sortSettings.sortableProperties"
      (click)="setSortProperty(sortProperty)"
    >
      {{ sortProperty.title }}
    </button>
  </mat-menu>

  <div class="expressions-skeleton" *ngIf="isLoading">
    <div class="skeleton-card" *ngFor="let i of [1,2,3]">
      <div class="skeleton-content">
        <div class="skeleton-header">
          <div class="skeleton-line skeleton-title"></div>
          <div class="skeleton-line skeleton-attribution"></div>
        </div>
        <div class="skeleton-body">
          <div class="skeleton-line skeleton-text"></div>
          <div class="skeleton-line skeleton-text short"></div>
        </div>
        <div class="skeleton-meta">
          <div class="skeleton-line skeleton-author"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="expressions-list" *ngIf="!isLoading">
    <div
      class="expression-card-wrapper"
      *ngFor="let expression of displayedItems"
    >
      <app-expression-view
        *ngIf="!expression.isEditable"
        [message]="expression"
        [parent]="expression"
        (updateParentEvent)="updateMessages($event)"
      >
      </app-expression-view>
      <app-expression-edit
        *ngIf="expression.isEditable"
        [message]="expression"
        [parent]="expression"
        (updateParentEvent)="updateMessages($event)"
        (cancelEditEvent)="cancelEdit($event)"
      >
      </app-expression-edit>
    </div>
  </div>
</div>