<div class="expressions-component m-3">
  <div class="d-flex flex-column align-items-center align-items-md-start row">
    <div
      class="w-100 d-flex justify-content-center justify-content-md-end"
      *ngIf="user && user.roles && user.roles.admin"
    >
      <button
        mat-button
        (click)="onCreate()"
      >
        <span class="d-flex align-items-center justify-content-center">
          <mat-icon>add</mat-icon>
          <span>Create Expression</span>
        </span>
      </button>
    </div>

    <div
      class="d-flex align-items-center row"
      *ngIf="user && user.roles && user.roles.admin"
    >
      <mat-form-field class="col-md-4 col-lg-3 col-xl-2">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="sortSettings.activeFilterQuery"
          (input)="onFilterQueryChange($event.target.value)"
        />
        <button
          *ngIf="sortSettings.activeFilterQuery"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="onFilterQueryChange('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div
        class="d-flex col-md-5 col-xl-3 justify-content-center justify-content-md-start"
      >
        <div style="max-width: 14em row">
          <button
            class="col-8"
            mat-button
            [matMenuTriggerFor]="menu"
          >
            Sort By: {{ sortSettings.activeSortProperty?.title }}
          </button>
          <button
            class="col-2"
            mat-button
            (click)="reverseSortDirection()"
          >
            <mat-icon *ngIf="!sortSettings.isSortDescending()"
              >arrow_drop_up</mat-icon
            >
            <mat-icon *ngIf="sortSettings.isSortDescending()"
              >arrow_drop_down</mat-icon
            >
          </button>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let sortProperty of sortSettings.sortableProperties"
          r
          (click)="setSortProperty(sortProperty)"
        >
          {{ sortProperty.title }}
        </button>
      </mat-menu>
    </div>
  </div>

  <div
    class="ml-3 d-flex justify-content-start"
    *ngIf="shouldDisplayShowAllButton()"
  >
    <button
      class="create-expression-button"
      mat-button
      (click)="onShowAll()"
    >
      <span class="ml-2">Show All</span>
    </button>
  </div>

  <div
    class="w-100 d-flex justify-content-center"
    *ngIf="isLoading"
  >
    <mat-spinner></mat-spinner>
  </div>

  <div
    class="expressions-container d-flex justify-content-center row"
    *ngIf="!isLoading"
  >
    <mat-card
      class="message-card-container mt-5 col-lg-11 col-xl-7"
      *ngFor="let expression of displayedItems"
    >
      <app-expression-view
        *ngIf="!expression.isEditable"
        [message]="expression"
        [parent]="expression"
        (updateParentEvent)="updateMessages($event)"
        (cancelEditEvent)="cancelEdit($event)"
      >
      </app-expression-view>
      <app-expression-edit
        *ngIf="expression.isEditable"
        [message]="expression"
        [parent]="expression"
        (updateParentEvent)="updateMessages($event)"
        (cancelEditEvent)="cancelEdit($event)"
      >
      </app-expression-edit>
    </mat-card>
  </div>
</div>
