<div class="expressions-component">
  <div class="ml-3 d-flex justify-content-end">
    <button class="create-expression-button"
            mat-button
            (click)="createExpression()">
      <mat-icon>add</mat-icon>
      <span class="ml-2">Create Expression</span>
    </button>
  </div>
  <div class="expressions-header-container">
    <span class="expressions-header-text">
      {{ headerText }}
    </span>
    <span class="expressions-header-attribution">
      - {{ headerAttribution }}
    </span>
  </div>

  <div class="w-100 d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="expressions-container" *ngIf="!isLoading">
    <mat-card
        class="chat-card-container mt-3 mb-4"
        *ngFor="let expression of expressions">
      <app-expression-view
          *ngIf="!expression.isEditable"
          [message]=expression
          [parent]="expression"
          (updateParentEvent)="updateMessages($event)"
          (cancelEditEvent)="cancelEdit($event)">
      </app-expression-view>
      <app-expression-edit
          *ngIf="expression.isEditable"
          [message]=expression
          [parent]="expression"
          (updateParentEvent)="updateMessages($event)"
          (cancelEditEvent)="cancelEdit($event)">
      </app-expression-edit>
    </mat-card>
  </div>
</div>
