.card-container {
    width: 60%;
}

.byline {
    font-style: italic;
}

.expression-content {
    margin-left: 16px;
}

.expressions-component {
    width: 80%;
    margin: 2em 10%;
}

.expressions-header-text {
  font-style: italic;
  color: #616161;
  text-align: center;
}

.expressions-header-attribution {
  color: #616161;
  text-align: center;
  margin-top: 0.5em;
  // margin-left: 4em;
  // margin: 2em auto 0 auto;

  width: 100%;
}

.expression-attribution {
  margin-left: 2em;
}

.expression-author {
  margin-left: 1em;
}
