<mat-card class="contact-card">
  <mat-card-title>
    {{ contact.name }}
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let address of contact.addresses">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line *ngIf="address.info">{{ address.info }}</h4>
        <h4 mat-line>{{ address.street }}</h4>
        <h4 mat-line>{{ address.city }}, {{ address.state }} {{ address.zip }}</h4>
      </mat-list-item>
      <mat-list-item *ngFor="let phone of contact.phones">
        <mat-icon mat-list-icon>phone</mat-icon>
        <h4 mat-line *ngIf="phone.info !== ''">
          {{ phone.info | titlecase}}
        </h4>
        <h4 mat-line>
          {{ phone.number }}
        </h4>
      </mat-list-item>
      <mat-list-item *ngFor="let email of contact.emails">
        <mat-icon mat-list-icon>email</mat-icon>
        <h4 mat-line *ngIf="email.info !== ''">
          {{ email.info | titlecase }}
        </h4>
        <h4 mat-line>
          {{ email.address }}
        </h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer *ngIf="user.roles.admin" class="d-flex justify-content-end">
    <button mat-button class="mb-1" (click)="contact.editable = true">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>