<!-- <h2 mat-dialog-title>Upload Video</h2>

<form class="video-upload-form">
    <mat-form-field class="video-upload-field">
        <mat-label>Name</mat-label>
        <input matInput name="video-upload-name" [(ngModel)]="videoToUpload.name">
    </mat-form-field> -->
    <!-- <mat-form-field class="video-upload-field">
        <mat-label>Icon</mat-label>
        <input matInput name="video-upload-icon" [(ngModel)]="videoToUpload.icon">
    </mat-form-field> -->
    <!-- <mat-form-field class="video-upload-field">
        <mat-label>URL</mat-label>
        <input matInput name="video-upload-url" [(ngModel)]="videoToUpload.url">
    </mat-form-field>
    <mat-form-field class="video-upload-field">
        <mat-label>Location</mat-label>
        <input matInput name="video-upload-location" [(ngModel)]="videoToUpload.location">
    </mat-form-field>
    <mat-form-field class="video-upload-field">
        <mat-label>Duration</mat-label>
        <input matInput name="video-upload-duration" [(ngModel)]="videoToUpload.duration">
    </mat-form-field>
    <mat-form-field class="video-upload-field">
        <mat-label>Date</mat-label>
        <input matInput name="video-upload-date" [(ngModel)]="videoToUpload.date">
    </mat-form-field> -->
    <!-- <app-file-input [matIcon]="'file_upload'" [inputMessage]="'Upload Photos'" [shouldAllowMultipleFiles]="true"
    (onInputFileChange)="uploadPhotos($event)"></app-file-input> -->
    <!-- <app-file-input [matIcon]="'file_upload'" [inputMessage]="'Upload Photos'" [shouldAllowMultipleFiles]="false"> -->
    <!-- </app-file-input> -->
<!-- </form> -->
    
<!-- <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="videoToUpload" cdkFocusInitial>Upload</button>
</mat-dialog-actions> -->
