.photo-card {
  margin: 10px auto;
}

.photo-image {
  margin-bottom: -12px;
  padding: 15px;
}

.photos-upload-button {
  height: 42px;
}

.photo-upload-input-container {
  margin-right: 2%;
}

.photos-add-button-label {
  width: 100%;
  height: 19px;
}

.photos-add-icon-label {
  margin-top: -6px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-wrapper {
  height: 100%;
  padding: 0px;
}

.photo-info-input-container {
  margin-left: 17px;
}

.clear-search-icon {
  margin-top: 20px;
  opacity: 0.4;
  cursor: pointer;
}

.photos-sort-select-container {
  margin-top: 12px;
}

.photos-sort-select-label {
  opacity: 0.3;
  font-size: 0.9em;
  margin-right: 8px;
}

.photos-component-container {
  margin: 0 20px;
}

.photos-controls-container {
  margin-bottom: -20px;
}

.spacer {
  flex: 1 1 auto;
}

.contact-edit-footer {
  margin-top: 40px;
}

.photo-info-input {
  width: 98%;
}

.photo-edit-inputs-container {
  width: 90%;
}

.photo-by {
  text-align: right;
  font-style: italic;
  font-size: 0.75em;
}

input[type="file"] {
  display: none;
}
