<div class="d-flex flex-row justify-content-end mt-3" *ngIf="user && user.roles && user.roles.admin">
  <button mat-button class="photos-add-button">
    <label class="photos-add-button-label d-flex">
      <mat-icon>add</mat-icon><span class="photos-add-icon-label">Add Photos</span>
      <input type="file" (change)="addPhoto($event)" accept=".png,.jpg" multiple />
    </label>
  </button>
</div>
<mat-card class="photo-card col-xs-10 col-sm-8 col-md-6" *ngFor="let photo of photos">
  <img class="photo-image" mat-card-image src="{{ photo.url }}" alt="{{ photo.info }}">
  <mat-card-content>
    <span *ngIf="photo.info">{{ photo.info }}<br></span>
    <span *ngIf="photo.location">{{ photo.location }}<br></span>
    <span *ngIf="photo.year"><i><span *ngIf="photo.isYearCirca">c. </span>{{ photo.year }}<br></i></span>
  </mat-card-content>
  <mat-card-footer *ngIf="user.roles && user.roles.admin && !photo.isEditable" class="contact-controls-container d-flex justify-content-end">
    <button mat-button (click)="photo.isEditable = true">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-footer>
  <mat-card-footer *ngIf="user.roles && user.roles.admin && photo.isEditable" class="contact-controls-container d-flex justify-content-end">
    <div class="input-group mb-1">
      <form>
        <div class="form-row">
          <div class="photo-info-input-container form-group col-11">
            <input type="text" class="form-control" name="photoInfo" [(ngModel)]="photo.info" placeholder="Info">
          </div>
          <div class="form-row ml-3">
            <div class="form-group col-4">
              <select class="form-control" name="photoYear" [(ngModel)]="photo.year">
                <option *ngFor="let year of years">{{ year }}</option>
              </select>
            </div>
            <div class="form-group col-2 d-flex align-items-end">
              <mat-checkbox name="photoYearCirca" [(ngModel)]="photo.isYearCirca"><i>c.</i></mat-checkbox>
            </div>
            <div class="form-group col-6">
              <input type="text" class="form-control" name="addressZip" [(ngModel)]="photo.location" placeholder="Location">
            </div>
          </div>
        </div>
        <div class="input-group mb-1 justify-content-end">
          <button mat-button (click)="deletePhoto(photo)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button (click)="photo.isEditable = false">
            <mat-icon>cancel</mat-icon>
          </button>
          <button mat-button (click)="updatePhoto(photo)">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </mat-card-footer>
</mat-card>
<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150" (scrolled)="loadMore()"></div>