.confirm-prompt-confirm-button {
  // background-color: #81C784;
  color: white;
}

.confirm-prompt-cancel-button {
  // background-color: #c62828;
  color: white;
}

.confirm-prompt-message {
  text-align: center;
}
