.confirm-prompt-confirm-button {
  background-color: #4CAF50;
  color: white;
}

.confirm-prompt-cancel-button {
  background-color: #C62828;
  color: white;
}

.confirm-prompt-message {
  text-align: center;
}
