.media-upload-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.media-upload-radio-button {
  margin: 5px;
}

.media-upload-success-messages {
  color: #00c853;
  font-size: 0.8em;
  margin-bottom: 0.8em;
}

.media-upload-error-messages {
  color: #d50000;
  font-size: 0.8em;
  margin-bottom: 0.8em;
}

.admin-upload-input {
  width: 100%;
}

.admin-media-upload-tab-group {
  overflow: hidden;
}
