<div class="admin-media-component-container w-100">

  <app-page-toolbar title="Media"></app-page-toolbar>

  <mat-tab-group class="admin-media-upload-tab-group w-100">
    <mat-tab label="Video">
      <app-admin-media-upload-video></app-admin-media-upload-video>
    </mat-tab>

    <mat-tab label="Audio Album">
      <app-admin-media-upload-audio-album></app-admin-media-upload-audio-album>
    </mat-tab>

    <mat-tab label="Photo Album"> TODO </mat-tab>
    <mat-tab label="Doc"> TODO </mat-tab>
  </mat-tab-group>

  @for (success of successMessages; track success) {
    <div
      class="media-upload-success-messages"
      >
      {{ success }}
    </div>
  }

  @for (error of errorMessages; track error) {
    <div
      class="media-upload-error-messages"
      >
      {{ error }}
    </div>
  }
</div>
