<div class="admin-media-component-container">

  <app-admin-routing class="w-100"></app-admin-routing>

  <mat-tab-group class="admin-media-upload-tab-group">

    <mat-tab label="Video">
      <app-admin-media-upload-video></app-admin-media-upload-video>
    </mat-tab>

    <mat-tab label="Audio Album">
      <app-admin-media-upload-audio-album></app-admin-media-upload-audio-album>
    </mat-tab>

    <mat-tab label="Photo Album">
      TODO
    </mat-tab>
    <mat-tab label="Doc">
      TODO
    </mat-tab>

  </mat-tab-group>

  <div class="media-upload-success-messages" *ngFor="let success of successMessages">
    {{ success }}
  </div>

  <div class="media-upload-error-messages" *ngFor="let error of errorMessages">
    {{ error }}
  </div>

</div>