<div class="calendar-view-container">
  <div class="calendar-date d-flex flex-row justify-content-between">
    <img class="calendar-view-logo-image" src="./assets/img/logo/LeCours_Logo_Inward_Blue.png" />
    <div class="d-flex flex-column justify-content-center">
      <div>
        <div class="calendar-title-name">LeCoursville Calendar</div>
        <h3 class="calendar-title-date">{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>
      </div>
    </div>
    <img class="calendar-view-logo-image" src="./assets/img/logo/LeCours_Logo_Inward_Blue.png" />
  </div>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div>
      <div class="cal-cell-top">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <small class="mb-1" *ngFor="let event of day.events">
        <app-calendar-cell *ngIf="isEventInActiveMonth(event)" [event]="event" [selectedYear]="selectedYear"></app-calendar-cell>
      </small>
    </div>
  </ng-template>
  <div class="calendar-scroll-container">
    <div class="calendar-month-view-container">
      <mwl-calendar-month-view [activeDay]="activeDay" [viewDate]="viewDate" [events]="events" [cellTemplate]="customCellTemplate">
      </mwl-calendar-month-view>
    </div>  
  </div>
</div>