.calendar-view-container {
  width: 100%;
}

.calendar-date {
  max-width: 10in;
  margin: auto;
  margin-bottom: -2px;
}

.calendar-view-logo-image {
  width: 60px;
  height: 60px;
  opacity: 0.6;
}

.calendar-title-primary-color {
  color: #b71c1c;
}

.calendar-title-accent-color {
  color: #0d47a1;
}

.calendar-title-date {
  @extend .calendar-title-primary-color;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  margin: auto;
  line-height: 1.2;
  padding-bottom: 0.2em;  
}

.calendar-title-website {
  @extend .calendar-title-accent-color;
  text-align: right;
  font-style: italic;
  font-size: 0.6em;
  line-height: 0.6em;
  margin-top: 1px;
  margin-right: 2px;
}

.calendar-scroll-container {
  width: 100%;
  overflow: auto;
}

.calendar-month-view-container {
  width: 10in;
  height: 8in;
  margin: auto;
}
