<body class="app-container">
  <mat-toolbar
    class="d-inline-flex mat-elevation-z8 justify-content-between"
    color="primary"
    >
    <img
      src="./assets/img/logo/L.png"
      class="toolbar-icon"
      (click)="onLogoClick()"
      [alt]="isAdminOrSuper() ? 'Admin' : 'L'"
      height="80%"
      />
    <div class="icons-menu d-inline-flex">
      @if (!authResolved) {
        <div data-testid="nav-links-skeleton">
          <div class="nav-skeleton d-none d-lg-flex" aria-hidden="true">
            <div class="nav-skeleton-item">
              <div class="nav-skeleton-icon"></div>
              <div class="nav-skeleton-label"></div>
            </div>
          </div>
          <div class="nav-skeleton-burger d-lg-none" aria-hidden="true"></div>
        </div>
      } @else if (!user?.id) {
        <a
          mat-button
          routerLink="/"
          >
          Sign In
        </a>
      } @else {
        <div
          class="d-none d-lg-block"
          >
          <app-navbar-links [isMenuList]="false"></app-navbar-links>
        </div>
        <div
          class="d-block d-lg-none"
          >
          @if (shouldShowSidenavToggle()) {
            <button
              mat-icon-button
              (click)="onMenuClick()"
              >
              <mat-icon>menu</mat-icon>
            </button>
          } @else {
            <button
              mat-icon-button
              class="menu-icon-container"
              [matMenuTriggerFor]="menu"
              >
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu
              #menu="matMenu"
              class="toolbar-routes-menu"
              >
              <app-navbar-links [isMenuList]="true"></app-navbar-links>
            </mat-menu>
          }
        </div>
      }
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</body>