  <div class="calendar-component-container">
    <mat-toolbar class="calendar-toolbar">
        <div class="calendar-button">
          <button mat-button *ngFor="let month of months">{{month.name}}</button>
        </div>
    </mat-toolbar>
    
    <div class="calendar-container">
      <pdf-viewer class="calendar-view"
          [src]="pdfSrc" 
          [render-text]="true"
          [show-all]="false"
          [original-size]="false"
          [autoresize]="true"
          [page]="3">
      </pdf-viewer>
    </div>
    <button mat-button color="primary">Download PDF</button>
  </div>