.calendar-container {
  margin: auto;
}

.upload-calendar-button {
  width: 82px;
}

.upload-calendar-button-label {
  height: 19px;
  width: 100%;
}

.upload-calendar-year-select {
  width: 76px;
  margin-top: 7px;
}

.mat-button {
  min-width: 55px;
}

.mat-button-wrapper {
  height: 100%;
  padding: 0px;
}

.month-select-container {
  width: 7em;
}

.year-select-container {
  width: 4em;
}

input[type="file"] {
  display: none;
}

a[type="download"] {
  display: none;
}
