<div class="calendar-component-container" *ngIf="user?.name">
  <div class="calendar-toolbar">
    <div class="calendar-toolbar-row">
      <div class="calendar-toolbar-filters">
        <mat-checkbox class="calendar-checkbox" color="warn" [(ngModel)]="showBirthdays" (change)="toggleBirthdays($event)">Birthdays</mat-checkbox>
        <mat-checkbox class="calendar-checkbox" color="warn" [(ngModel)]="showAnniversaries" (change)="toggleAnniversaries($event)">Anniversaries</mat-checkbox>
        <mat-checkbox class="calendar-checkbox" color="warn" [(ngModel)]="showNotLiving" (change)="toggleNotLiving($event)">Include Not Living</mat-checkbox>
      </div>
      <button mat-button (click)="printPdf()" class="calendar-print-button">Print</button>
    </div>
  </div>

  <div class="calendar-nav-row">
    <div class="d-flex align-items-center calendar-nav-inner">
      <div mwlCalendarPreviousView (click)="changeView(viewDate)" [view]="view" [(viewDate)]="viewDate" class="calendar-nav-btn">
        <mat-icon class="calendar-nav-icon">keyboard_arrow_left</mat-icon>
      </div>
      <div class="calendar-month-year-pill" (click)="datePickerOpen = !datePickerOpen">
        <div class="calendar-pill-label">
          <span class="calendar-month-label">{{ viewMonth }}</span>
          <span class="calendar-year-label">{{ selectedYear }}</span>
        </div>
      </div>
      <div mwlCalendarNextView (click)="changeView(viewDate)" [view]="view" [(viewDate)]="viewDate" class="calendar-nav-btn">
        <mat-icon class="calendar-nav-icon">keyboard_arrow_right</mat-icon>
      </div>
    </div>
  </div>

  <div *ngIf="datePickerOpen" class="calendar-datepicker-dropdown">
    <div class="calendar-datepicker-panel">
      <div class="calendar-datepicker-header">
        <div class="calendar-datepicker-nav" (click)="navigateYear(-1)">
          <mat-icon class="calendar-datepicker-nav-icon">keyboard_arrow_left</mat-icon>
        </div>
        <span class="calendar-datepicker-year">{{ pickerYear }}</span>
        <div class="calendar-datepicker-nav" (click)="navigateYear(1)">
          <mat-icon class="calendar-datepicker-nav-icon">keyboard_arrow_right</mat-icon>
        </div>
      </div>
      <div class="calendar-datepicker-grid">
        <div *ngFor="let month of months; let i = index" class="calendar-datepicker-cell" [ngClass]="{'is-selected': isCurrentPickerMonth(i)}" (click)="selectPickerMonth(i)">
          {{ month.substring(0, 3) }}
        </div>
      </div>
    </div>
  </div>

  <app-calendar-view class="calendar-view-component" [viewDate]="viewDate" [selectedYear]="selectedYear" [events]="events" (personClick)="openPersonModal($event)" (spouseClick)="openPersonModal($event)"></app-calendar-view>

  <app-person-detail-modal *ngIf="selectedPersonId" [personId]="selectedPersonId" (closeModal)="closeModal()" (openPerson)="openPersonModal($event)"></app-person-detail-modal>
</div>