<div class="row mb-3" [ngStyle]="{'margin-left.px': message.replyLevel * 32}" style="min-height: 155px;">
  <div class="col-1" style="padding:0">
    <div mat-button class="d-flex flex-row justify-content-end" ng-click="likeMessage()">
      <fa name="heart" style="color:#CFD8DC;position: absolute;font-size: 38px"></fa>
      <div class="like-icon-text" style="color:white;position: absolute;top:13px;right: 13px;font-size: 20px">8</div>
    </div>
    <div class="d-flex flex-row justify-content-end" *ngIf="isMessageAuthor(message)" (click)="likeMessage()">
      <fa name="reply-all" (click)="replyMessage(message)" style="color:#CFD8DC;position: absolute;font-size: 33px;top:56px;right:5px"></fa>
    </div>
    <div class="d-flex flex-row justify-content-end" *ngIf="isMessageAuthor(message)" (click)="likeMessage()">
      <mat-icon style="color:#CFD8DC;position: absolute;font-size: 35px;top:110px;right:11px">edit</mat-icon>
    </div>
  </div>
  <mat-divider [vertical]="true" style="margin-left:10px"></mat-divider>
  <mat-card-content class="col-9">
    <mat-card-title>
      <div *ngIf="!message.isReply" style="line-height: 1;">
        {{ message.title }}
      </div>
      <mat-card-subtitle style="margin-bottom:0;margin-top:4px">
        {{ message.authorName }}
      </mat-card-subtitle>
      <mat-card-subtitle style="font-size: 12px">
        {{ message.timestamp | date:'short' }}
      </mat-card-subtitle>
    </mat-card-title>
    {{ message.body }}
  </mat-card-content>
</div>
<mat-card-content *ngFor="let reply of message.replies">
  <app-chat-view *ngIf="!reply.editable" [message]="reply" [parent]="message" (updateParentEvent)="updateParent($event)"></app-chat-view>
  <app-chat-edit *ngIf="reply.editable" [message]="reply" [parent]="message" (updateParentEvent)="updateParent($event)"></app-chat-edit>
</mat-card-content>
