<mat-card class="mat-elevation-z6">
  <mat-card-title>{{ userOnCard.name }}</mat-card-title>
  @if (shouldDisplayUserId()) {
    <mat-card-subtitle>{{
      userOnCard.id
    }}</mat-card-subtitle>
  }
  <mat-card-content>
    <div><b>Email: </b>{{ userOnCard.email }}</div>
    <div><b>Registered: </b>{{ userOnCard.dateRegistered | date }}</div>
    <div><b>Last Active: </b>{{ userOnCard.dateLastActive | date }}</div>
    @if (shouldDisplayRoles()) {
      <div>
        <span> <b>Roles: </b></span>
        @if (userOnCard.roles.user) {
          <span>User</span
            >
            }@if (userOnCard.roles.admin) {
            <span>, </span>
          }
          @if (userOnCard.roles.admin) {
            <span>Admin</span
              >
              }@if (userOnCard.roles.super) {
              <span>, </span>
            }
            @if (userOnCard.roles.super) {
              <span>Super</span>
            }
          </div>
        }
      </mat-card-content>
      <mat-card-footer class="d-flex justify-content-end user-card-footer">
        <button
          mat-button
          (click)="onEdit()"
          >
          Edit
        </button>
      </mat-card-footer>
    </mat-card>
