.media-list-container {
	overflow: hidden;
	margin: 1em;
}

.media-search-input-container {
	margin-bottom: -0.5em;
}

.media-types-checkboxes-container {
	margin-bottom: 1em;
}

.imageContainer {
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: relative;
  }

.imageCenterer {
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -500px;
}

.imageCenterer img {
	height: 80px;
	display: block;
	margin: 0 auto;
}

.media-details {
	text-align: start;
	margin-top: -18px;
}

.media-details-name {
	@extend .media-details;
	margin-top: -8px;
}

.media-details-location {
	@extend .media-details;
	font-weight: 300;
}

.media-details-date {
	@extend .media-details;
	font-size: 12px;
	font-weight: 100;
}

.media-details-duration {
	@extend .media-details;
	font-size: 12px;
	font-weight: 100;
}
