<div class="media-list-container row">

    <!-- <div class="media-search-input-container">
        <app-media-search-input (inputChangeEvent)="onSearchInputChange($event)"></app-media-search-input>
    </div>

    <div class="media-types-checkboxes-container">
        <app-media-types-checkboxes (selectMediaTypeEvent)="onSelectMediaType($event)">
        </app-media-types-checkboxes>
    </div> -->

    <div class="row d-flex flex-column" *ngFor="let media of filteredMedia">
        <button mat-button class="mb-3 col-12 col-md-12 col-lg-12" *ngIf="shouldDisplayMedia(media)" (click)="onMediaSelect(media)">
            <div class="row">

                <div class="col-4 imageContainer">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <mat-icon class="media-list-placeholder-icon" [hidden]="media.isIconLoaded">
                            {{ getPlaceholderName(media.type) }}
                        </mat-icon>
                    </div>
                    <div class="imageCenterer">
                        <img [src]="media.urls.icon" (load)="onImageLoaded(media)" [hidden]="!media.isIconLoaded">
                    </div>
                </div>

                <div class="col-8 justify-content-start">
                    <div class="media-details-name">
                        {{ media.title }}
                    </div>
                    <div class="media-details-location">
                        {{ media.location }}
                    </div>
                    <div class="media-details-date">
                        {{ media.date }}
                    </div>
                    <div class="media-details-duration">
                        {{ media.duration }}
                    </div>
                </div>

            </div>
        </button>
    </div>
</div>
