@import 'src/app/styles/admin-forms';

.admin-calendar-event-card {
    margin-top: 1em;
}

.admin-calendar-event-field {
    width: 100%;
}

.admin-action-buttons-container {
    width: 100%;
}

.admin-calendar-events-header {
    
}