.container {
    background-image: "./assets/icons/LeCours_Crest_Large_Black.png";
}

li.firebaseui-list-item {
    margin: 10%;
}

.auth-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.auth-image {
    margin: auto;
    padding-top: 50px; 
    opacity: 0.25;
}

.auth-button {
    margin: auto;    
}

.spacer {
    flex: 1 1 auto;
}