<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="data.type">
      <mat-option *ngFor="let type of eventTypes" [value]="type">
        {{type | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="deleteEvent(data)">Delete</button>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>