<ng-template #nodeTemplate let-nodes="nodes" let-level="level">
  @for (node of nodes; track node) {
    <div class="tree-row">
      <span class="person-info">
        <span class="person-name clickable" [class.selected]="selectedPersonId === node.person.id" (click)="onNodeClick(node)">
          {{ getPersonName(node) }}
        </span>
        @if (getSpouseName(node)) {
          <span class="spouse-separator"> &amp; </span>
        }
        @if (getSpouseName(node)) {
          <span class="person-name clickable"
            [class.selected]="selectedPersonId === node.spouse?.id"
            (click)="onSpouseClick(node)">
            {{ getSpouseName(node) }}
          </span>
        }
      </span>
    </div>
    @if (hasChildren(node) && getNodeChildren(node)?.length) {
      <div class="children-container">
        <div class="generation-bar" [style.background-color]="clanColorHex || '#e0e0e0'"></div>
        <div class="children-items">
          <ng-template [ngTemplateOutlet]="nodeTemplate" [ngTemplateOutletContext]="{ nodes: getNodeChildren(node), level: level + 1 }"></ng-template>
        </div>
      </div>
    }
  }
</ng-template>

<ng-template [ngTemplateOutlet]="nodeTemplate" [ngTemplateOutletContext]="{ nodes: nodes, level: 0 }"></ng-template>