@import '~@angular/material/theming';
@import '~firebaseui/dist/firebaseui.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~lightgallery.js/dist/css/lightgallery.css";

@include mat-core();

$my-theme-primary: mat-palette($mat-blue-grey, 400);
$my-theme-accent: mat-palette($mat-green, 500);
$my-theme-warn: mat-palette($mat-green, A400);

$my-theme: mat-light-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn,
);

html, body {
  @include angular-material-theme($my-theme);
  margin: 0;
  height: 100%;
  background-color: #fafafa;
}

.ng2-pdf-viewer-container {
  overflow-x: hidden !important;
}

.mat-list-item-content {
  padding: 0 !important;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cal-month-view .cal-cell-top {
  min-height: 42px;
}

.cal-month-view .cal-day-cell {
  min-width: 8%;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
}

#calendar-print-view .cal-month-view .cal-day-cell.cal-today {
  background-color: white;
}
