@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

$lecoursville-primary: mat-palette($mat-light-green);
$lecoursville-accent: mat-palette($mat-light-green);
$lecoursville-warn: mat-palette($mat-deep-orange);
// specify theme class eg: <body class="my-theme"> ... </body>
$lecoursville-theme: mat-light-theme($lecoursville-primary, $lecoursville-accent, $lecoursville-warn);    

html, body {
    margin: 0;
    // background-color:  mat-palette($mat-light-green);
    @include angular-material-theme($lecoursville-theme);
}
/* You can add global styles to this file, and also import other style files */
