@import '~@angular/material/theming';
@import '~firebaseui/dist/firebaseui.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// always include only once per project
@include mat-core();


// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-blue-grey, 400);
$my-theme-accent: mat-palette($mat-green, 500);
$my-theme-warn: mat-palette($mat-green, A400);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

// $lecoursville-primary: mat-palette($mat-light-green);
// $lecoursville-accent: mat-palette($mat-light-green);
// $lecoursville-warn: mat-palette($mat-deep-orange);
// // specify theme class eg: <body class="my-theme"> ... </body>
// $lecoursville-theme: mat-light-theme($lecoursville-primary, $lecoursville-accent, $lecoursville-warn);    
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body {
    margin: 0;
    height: 100%;

    // background-color:  mat-palette($mat-light-green);
    @include angular-material-theme($my-theme);
    background-color: #fafafa;

}
/* You can add global styles to this file, and also import other style files */
.ng2-pdf-viewer-container {
    overflow-x: hidden !important;
}

.mat-list-item-content {
    padding: 0 !important;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

// .mat-list-text.phone-item {
//     padding: 0 !important;
// }